<html>
    <head>
        <h1>Book Recommendation System</h1>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet" type="text/css">
        h1 {
            font-size: 60px;
            text-align: center;
            font-family: "Open Sans", sans-serif;
          }
    </head>
    <body>
        <h4>Write the title of a book you like to find similar ones:</h4>
        <form action = "{% url 'nlp_app:nlp' %}" id = "form"  method="post">
            {% csrf_token %}
            <textarea name="query1" id="query1"></textarea>
            <input id="submit" type="submit">
        </form>
      <dir>
        {% for book, img in books %}
            <h4>{{book}}</h4>
            <img src = {{img}}></img>
        {% endfor %}
      </dir>
    </body>
</html>